body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--cor-cinza);
  color: var(--cor-texto);
}

section {
  padding: 60px 10%;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}

